@charset "utf-8";

body {
    position: relative; /* For scrollyspy */
    padding-top: 50px; /* Account for fixed navbar */
}

.badge {
	float: none!important;
}

.affix-top {
	margin-top: 50px;
}
.affix {
	margin-top: 50px;
}

@media screen and (max-width: 1000px) {
    .affix {
      position: relative;
    }
}

.active {
	font-weight: bold;
}

.build-input {
	font-family: consolas;
	font-size: 15px;
}
